body {
    background-color: white;
}

#wrapper-inner {
    background-color: aquamarine;
}

.ticket-overlay {
    position:fixed;top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;


    background: rgba(255, 252, 191, 0.6);
}

canvas {
    background-color: white;
}

tw-story {
    width: 100vw;
    height: 100vh;
}


tw-passage {
    width: 100%;
    height: 100%;
}


#site {
display: grid;
grid-template-columns: auto 1fr 4fr 1fr auto ;
grid-template-rows: 3fr 2fr;

background-color: #B48C72;
width: 100%;
height: 100%;
}

.debug {
border: 2px solid black;
}

#left-sidebar{
grid-column: 1 ;
grid-row: 1 / 3;
width: 250px;
}

#right-sidebar {
grid-column:  5;
grid-row: 1 / 3;
width: 250px;
    justify-self: end;
}

#drawing-area {
grid-column: 3;
grid-row: 2;

display: flex;
justify-content: center;
align-items: center;
}


#twine-area {
grid-column: 3;
grid-row: 1;
}

#drawing-canvas {
background-color: #B08968;
width: 50%;
height: 50%;

}

body {
    background-color: white;
    margin: 0;
}